= form_for [blog, entry, comment] do |f|
  - if flash[:error].present?
    #error_explanation
      %h2 #{pluralize(flash[:error].count, 'error')} prohibited this comment from being saved:
      %ul
        - flash[:error].each do |message|
          %li= message

  .field
    = f.label :body
    = f.text_area :body

  .actions
    = f.submit
